
<section class="body">
  <div  class="header">
  
    <h2>My To Do List</h2>
  
    <input
    #newItem
    type="text"
    id="myInput"
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="btn-primary"
    id="addItemInput"
  />
  
  <span class="addBtn" (click)="addItem(newItem.value)">Add</span>
  
  </div>
  
  <div class="main">
    
    <ul>
      <li *ngFor="let item of items;let i=index ">{{item.description}} <button (click)="deleteEmployee(i)" class = 'delete-icon'> Remove</button></li>
    </ul>
  </div>
  
  <footer >
         
         
    <div id="container-rodape" style="clear: both;"> <!--INICIO CONTAINER-RODAPÉ-->
          
     
  
      <div id="rodape">
        &copy; Copyright 2021 Nyth
  
      </div>
          
        </div> <!--FIM CONTAINER-RODAPÉ-->
  
        
  </footer>
  
</section>


